body {
	font-size: 30px;
	color: #fff;
	background-color: white;
}

/** HEADER MAIN PAGE **/
#header-nav {
	background-color: black;
	border-radius: 0;
	border: 0;
	box-shadow: 5px 10px 8px #888888;
}

h1{
	font-weight: bold;
}
.topnav{
	overflow: hidden;
}
.topnav a {
	float: left;
	text-align: center;
	font-size: 22px;
	margin-left: 72px;
	margin-right: 72px;
	margin-bottom: 16px;
	margin-top: 16px;
}

.topnav a:hover {
	opacity: 0.3;
}
.topnav a.active {
	color: white;
	text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.center {
	text-align: center;
	color: black;
	font-size: 50%;
	margin-left: 300px;
	margin-right: 300px;
}

body{
	padding-top: 90px;
}
#footer-body{
	margin-top: 0;
    margin-bottom: 0;
    color: #000;
    font-size: .8rem;
    padding-bottom: 0.5vh;
    padding-top: 0;
}

.main-page {
	display: flex;
    flex-direction: column;
    font-family: "Montserrat",sans-serif;
    justify-content: flex-start;
    font-size: calc(1em + .2vw);
}

p {
    flex: 1 1;
    justify-content: left;
    text-align: left;
    padding: 15px;
}
